/* Common variables */
:root {
  --scrollbar-width: 10px;
  --tab-bar-width: 45px;
}

/* Tabs scrollbar */
#tabs-tabbar-container:is(.left, .right) {
  .tab-strip::-webkit-scrollbar {
    padding: 0 2px !important;
    width: var(--scrollbar-width) !important;
    border: 1px solid var(--scrollbar-border-color) !important;
    border-radius: var(--radiusHalf) !important;
    display: none;
    color: var(--colorFg);
  }

  .tab-strip::-webkit-scrollbar-track {
    background: transparent;
  }

  .tab-strip::-webkit-scrollbar-button {
    display: none !important;
  }

  .tab-strip::-webkit-scrollbar-thumb {
    border: 2px solid transparent !important;
    border-radius: var(--radiusHalf) !important;
  }

  .tab-position:not(.accordion-toggle-arrow) {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

#browser .tabbar-wrapper:hover #tabs-tabbar-container:is(.left, .right) .tab-strip::-webkit-scrollbar,
#browser:has(button[name='WorkspaceButton'].button-pressed) #tabs-tabbar-container:is(.left, .right) .tab-strip::-webkit-scrollbar {
  display: block;
}



/* Collapsed tabs */
#browser {  
  .mainbar, #header, #footer, #panels-container, .bookmark-bar {
    border: none !important;
  }

  .mainbar, #header, #footer, .bookmark-bar {
    background-color: var(--colorBgAlphaBlur) !important;
  }

  #main, #header, #footer, .panel-group {
    backdrop-filter: var(--backgroundBlur); 
  }

  .color-behind-tabs-on .bookmark-bar button,
  .bookmark-bar .observer {
    background-color: unset;
  }

  .inner>.tabbar-wrapper {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    background: unset;

    .tabbar-wrapper {
      background: var(--colorBgAlphaBlur);
    }

    .tab .favicon {
      margin-left: 2px;
      margin-right: 10px;
      transition: margin-right 0.25s;
    }

    .tab-wrapper {
      padding-left: 1px !important;
      padding-right: 1px !important;
      transition: padding 0.25s, background-color 0.25s;
      width: 35px;
      overflow: hidden;
    }

    .tab-wrapper:has(.tab.active) {
      transition: padding 0.25s, background-color 0.25s, width 0.5s;
    }

    #tabs-tabbar-container #tabs-container {
      background-color: unset;
      backdrop-filter: unset;
      transition: background-color 0.25s;
    }

    #tabs-tabbar-container {
      max-width: var(--tab-bar-width);
      overflow: hidden;
      transition: max-width 0.25s;
    }

    button>span.button-icon {
      margin-left: 5px;
      margin-right: 7px;
    }
  }
}

#browser:not(.is-settingspage).color-accent-from-page.color-behind-tabs-on.transparent-tabbar.tabs-top #header:before,
#browser:not(.is-settingspage).color-accent-from-page.color-behind-tabs-on.transparent-tabbar.tabs-left .tabbar-wrapper:before,
#browser:not(.is-settingspage).color-accent-from-page.color-behind-tabs-on.transparent-tabbar.tabs-right .tabbar-wrapper:before,
#browser:not(.is-settingspage).color-accent-from-page.color-behind-tabs-on.transparent-tabbar.tabs-bottom>footer:before {
  display: none;
}


.tabbar-wrapper>div:not(.tabbar-wrapper) {
  padding-top: 0;
}


/* Hovered tabs */
#browser:has(button[name='WorkspaceButton'].button-pressed) #main .tabbar-wrapper,
#browser .tabbar-wrapper:hover {
  .tab-wrapper {
    width: 100%;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .tab .favicon {
    margin-right: 4px;
  }

  #tabs-container {
    background-color: var(--colorAccentBgAlpha);
    backdrop-filter: var(--backgroundBlur);
  }

  #tabs-tabbar-container {
    max-width: 400px;
  }
}

button[name='WorkspaceButton'] .button-icon {
  margin-left: 14px !important;
  margin-right: 9px !important;
}

#tabs-tabbar-container>.separator.separator-wsbutton {
  display: none;
}

.tabbar-workspace-button+#tabs-tabbar-container.left,
.tabbar-workspace-button+#tabs-tabbar-container.right {
  padding-top: 0;
}

#tabs-container.left .tab-strip,
#tabs-container.right .tab-strip {
  margin-top: 10px;
  margin-bottom: -10px;
}

#panel_switch {
  background-color: unset;
}

#switch {
  backdrop-filter: unset;
}

#webview-container {
  margin-left: var(--tab-bar-width);
  background-color: var(--colorBgAlphaBlur);
}

#webpage-stack,
.tiled.webpageview {
  border-radius: var(--radius) !important;
}
